.footer {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    font-size: 1.6rem;
    justify-content: space-around;
}

.footer>div {
    padding: 60px;
}

.contact__title,
.list-item__title,
.policy__title {
    font-size: 2.4rem;
    padding: 20px 0px;
    font-weight: 700;
}

.contact__somefor>li,
.policy__list>li,
.list_address-item>li {
    padding: 6px 0px;
}