
    <div class="cart__container">
        <div class="step__checkout">
            <div>Kiểm tra</div>
            <div>Nhập thông tin đơn hàng</div>
            <div>Xong</div>
        </div>
        <div class="cart__check-container">
            <div class="cart__check active">
                {{#each listItem}}
                <div class="cart__check-items">
                    <div class="check-item">
                        <div class="check-item__image">
                            <img src={{this.path}} alt="">
                            <div class="check-item__desc">
                                <div class="check-item__desc-name">{{this.name}}</div>
                                <div class="check-item__desc-type">{{this.type}}</div>
                            </div>
                        </div>
                        <div class="check-item__quantity">
                            <i class="fas fa-plus"></i>
                            <p class="quantity">1</p>
                            <i class="fas fa-minus"></i>
                        </div>
                        <div class="check__item-price">{{this.price}}</div>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="cart__check-out">
                <div class="cart__title">Tính tiền</div>
                <div class="cart__block-pay">
                    <div class="cart__price-sum">Tổng Tiền : 1000,000</div>
                    <div class="cart__price-sell">
                        <p>Nhập mã giảm giá</p>
                        <input type="text">
                    </div>
                    <div class="cart__pay">
                        <p class="cart__pay-value">Phải trả: 1000000000</p>
                        <button>Thanh toán</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart__input-info">

        </div>
        <div class="done">

        </div>
    </div>
    <style>
        
        @media(max-width:1023px) {
            .icon__navbar-mobie {
                display: block;
                position: absolute;
                left: 0px;
                font-size: 2rem;
                padding-left: 20px;
            }
            .header__navbar {
                display: none;
            }
            .header .header__user-nav {
                display: none;
            }
            .header__logo {
                display: none;
            }
            /*  */
            .new>h2 {
                padding: 25px 0px 25px;
                font-size: 2rem;
                font-weight: 700;
            }
            .selling-product>h2 {
                padding: 25px 0px 25px;
                font-size: 2rem;
                font-weight: 700;
            }
            .footer {
                flex-direction: column;
                font-size: 1.4rem !important;
            }
            .footer>div {
                padding: 8px 56px !important;
            }
            /* navbar mobie */
            .navbar__mobie {
                display: none;
                position: absolute;
                top: 60px;
                left: 0px;
                bottom: 0px;
                height: 100vh;
                width: 400px;
                background-color: #ddd;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                flex-direction: column;
                justify-content: flex-start !important;
                z-index: 1000;
            }
            .navbar__mobie>div {
                /* padding: 10px; */
                position: relative;
            }
            .navbar__mobie-user {
                display: flex;
                font-size: 1.8rem;
                justify-content: space-around;
                padding: 40px;
            }
            .navbar__mobie-extra {
                padding: 0px 40px 40px;
            }
            .navbar__mobie-extra>ul>li {
                padding-top: 20px;
                font-size: 2rem;
            }
            .contact__title,
            .list-item__title,
            .policy__title {
                font-size: 1.8rem !important;
            }
            .selling-product__container>.selling-product__container-item {
                width: 160px !important;
                padding: 15px 10px 20px 10px;
                position: relative;
            }
            .desc__selling-item {
                font-size: 1.4rem !important;
            }
            .selling-product__container-item>button {
                top: 65% !important;
                padding: 6px !important;
            }
        }
    </style>
    <script>
        function sumPrice(){
            
            var quantity=Array.from(document.querySelectorAll('.quantity'));
            var price=Array.from(document.querySelectorAll('.check__item-price'));
            
            quantity=quantity.map((quantity)=>quantity.innerHTML);
            price=price.map((price)=>price.innerHTML);

            let sum=0
            for(let i=0;i<price.length;i++){
                sum=quantity[i]*price[i]+sum;
            }
            
            return sum;

        }

        function dispayCartValue(){

            let sum=sumPrice();

            let sumElement=document.querySelector('.cart__price-sum');
            let pay=document.querySelector('.cart__pay-value');
            sumElement.innerHTML='Tổng là : ' + sum;
            pay.innerHTML='Phải trả : '+ sum;
            console.log(sum);
        }

        dispayCartValue();
    </script>
