<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home/reset.css">
    <link rel="stylesheet" href="css/home/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <div class="header">
        <div class="icon__navbar-mobie"><i class="fas fa-bars"></i></div>
        <div class="header__logo">doo</div>
        <div class="header__navbar">
            <ul>
                <li class="product-menu">
                    <a href="">Sản phẩm</a>
                    <div class="product__submenu">
                        <div class="product__shirt">
                            <h4>Ao</h4>
                            <ul>
                                <li><a href="">Áo Polo</a></li>
                                <li><a href="">Áo Phong</a></li>
                                <li><a href="">Áo Sơ Mi</a></li>
                                <li><a href="">Áo Hoodie</a></li>
                                <li><a href="">Áo Khoác</a></li>
                                <li><a href="">Áo Vest</a></li>
                            </ul>
                        </div>
                        <div class="trousers">
                            <h4>Quần</h4>
                            <ul>
                                <li><a href="">Quần Âu</a></li>
                                <li><a href="">Quần Jeans</a></li>
                                <li><a href="">Quần Jogger</a></li>
                                <li><a href="">Quần Kaki</a></li>
                                <li><a href="">Quần Short</a></li>
                            </ul>
                        </div>
                        <div class="accessories">
                            <h4>Phụ kiện</h4>
                            <ul>
                                <li><a href="">Balo Túi Đeo Chéo</a></li>
                                <li><a href="">Kính</a></li>
                                <li><a href="">Mũ</a></li>
                                <li><a href="">Ví Da</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="">Khuyến mãi</a>
                </li>
                <li>
                    <a href="">Dịch vụ</a>
                </li>
                <li>
                    <a href="">Liên hệ</a>
                </li>
            </ul>
        </div>
        <div class="header__user-nav">

            <a href="">
                <div class="user-nav__search"><i class="fas fa-search"></i></div>
            </a>
            <a href="">
                <div class="user-nav__account"><i class="fas fa-user"></i></div>
            </a>
            <a href="">
                <div class="user-nav__cart"><i class="fas fa-shopping-cart"></i></div>
            </a>
        </div>

        <div class="navbar__mobie">
            <div class="navbar__mobie-user">
                <a href="">
                    <div class="user-nav__search"><i class="fas fa-search"></i></div>
                </a>
                <a href="">
                    <div class="user-nav__account"><i class="fas fa-user"></i></div>
                </a>
                <a href="">
                    <div class="user-nav__cart"><i class="fas fa-shopping-cart"></i></div>
                </a>
            </div>
            <div class="navbar__mobie-extra">
                <ul>
                    <li>Trang chủ</li>
                    <li>Sản phẩm</li>
                    <li>Khuyến mãi</li>
                    <li>Dịch vụ</li>
                    <li>Liên Hệ</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main">
        <!-- start slider -->
        <div class="slider">
            <div class="slider__icon-left"><i class="fas fa-arrow-left"></i></div>
            <img src="./assets/slide-image/Ảnh-bìa-FB-09.04.2021.jpg" alt="" class="no_active image__slider">
            <img src="./assets/slide-image/Ảnh-web-04.jpg" alt="" class="no_active image__slider">
            <img src="./assets/slide-image/ảnh-web-2.jpg" alt="" class="image__slider">
            <div class="slider__icon-right"><i class="fas fa-arrow-right"></i></div>
        </div>
        <!-- end slider -->

        <!-- start new -->
        <div class="new">
            <h2>HÀNG MỚI VỀ</h2>
            <div class="new__container">
                <div class="new__icon-left new__icon"><i class="fas fa-chevron-circle-left"></i></div>
                <div class="item-new">
                    <img src="./assets/newItem/APHTK227-2-400x500.jpg" alt="">
                    <div class="item-new__desc">
                        <div class="item-new__des-title">Ao ngan tay</div>
                        <div class="item-new__des-price">500.000</div>
                    </div>
                    <div class="overlay__item-new">
                        <div>
                            <i class="fas fa-shopping-cart"></i>
                        </div>
                        <div>
                            <i class="fas fa-info-circle"></i>
                        </div>
                    </div>
                </div>
                <div class="item-new">
                    <img src="./assets/newItem/APHTK231-3-400x500.jpg" alt="">
                    <div class="item-new__desc">
                        <div class="item-new__des-title">Ao ngan tay</div>
                        <div class="item-new__des-price">500.000</div>
                    </div>
                    <div class="overlay__item-new">
                        <div>
                            <i class="fas fa-shopping-cart"></i>

                        </div>
                        <div>
                            <i class="fas fa-info-circle"></i>
                        </div>
                    </div>
                </div>
                <div class="item-new">
                    <img src="./assets/newItem/SHNTK218-12-1-400x500.jpg" alt="">
                    <div class="item-new__desc">
                        <div class="item-new__des-title">Ao ngan tay</div>
                        <div class="item-new__des-price">500.000</div>
                    </div>
                    <div class="overlay__item-new">
                        <div>
                            <i class="fas fa-shopping-cart"></i>

                        </div>
                        <div>
                            <i class="fas fa-info-circle"></i>

                        </div>
                    </div>
                </div>
                <div class="item-new">
                    <img src="./assets/newItem/APHTK238-1-400x500.jpg" alt="">
                    <div class="item-new__desc">
                        <div class="item-new__des-title">Ao ngan tay</div>
                        <div class="item-new__des-price">500.000</div>
                    </div>
                    <div class="overlay__item-new">
                        <div>
                            <i class="fas fa-shopping-cart"></i>

                        </div>
                        <div>
                            <i class="fas fa-info-circle"></i>

                        </div>
                    </div>
                </div>
                <div class="new__icon-right new__icon"><i class="fas fa-chevron-circle-right"></i></div>
            </div>
        </div>
        <!-- end new -->

        <!-- start selling-product -->
        <div class="selling-product">
            <h2>SẢN PHẨM BÁN CHẠY</h2>
            <div class="selling-product__container">
                <div class="selling-product__container-item">
                    <img src="./assets/selling/APHTK218-1-400x500.jpg" alt="">
                    <div class="desc__selling-item">
                        <div class="desc__selling-item-title">Ao phong</div>
                        <div class="desc__selling-item-price">500.000</div>
                    </div>
                    <button><a href=""><i class="fas fa-shopping-cart"></i>  Thêm vào giỏ hàng</a></button>
                </div>
                <div class="selling-product__container-item">
                    <img src="./assets/selling/APHTK220-12-400x500.jpg" alt="">
                    <div class="desc__selling-item">
                        <div class="desc__selling-item-title">Ao phong</div>
                        <div class="desc__selling-item-price">500.000</div>
                    </div>
                    <button><a href=""><i class="fas fa-shopping-cart"></i>  Thêm vào giỏ hàng</a></button>
                </div>
                <div class="selling-product__container-item">
                    <img src="./assets/selling/APHTK225-4-400x500.jpg" alt="">
                    <div class="desc__selling-item">
                        <div class="desc__selling-item-title">Ao phong</div>
                        <div class="desc__selling-item-price">500.000</div>
                    </div>
                    <button><a href=""><i class="fas fa-shopping-cart"></i>  Thêm vào giỏ hàng</a></button>
                </div>
                <div class="selling-product__container-item">
                    <img src="./assets/selling/APHTK218-1-400x500.jpg" alt="">
                    <div class="desc__selling-item">
                        <div class="desc__selling-item-title">Ao phong</div>
                        <div class="desc__selling-item-price">500.000</div>
                    </div>
                    <button><a href=""><i class="fas fa-shopping-cart"></i>  Thêm vào giỏ hàng</a></button>
                </div>
                <div class="selling-product__container-item">
                    <img src="./assets/selling/APHTK218-1-400x500.jpg" alt="">
                    <div class="desc__selling-item">
                        <div class="desc__selling-item-title">Ao phong</div>
                        <div class="desc__selling-item-price">500.000</div>
                    </div>
                    <button><a href=""><i class="fas fa-shopping-cart"></i>  Thêm vào giỏ hàng</a></button>

                </div>
                <div class="selling-product__container-item">
                    <img src="./assets/selling/STDTK211-5-400x500.jpg" alt="">
                    <div class="desc__selling-item">
                        <div class="desc__selling-item-title">Ao phong</div>
                        <div class="desc__selling-item-price">500.000</div>
                    </div>
                    <button><a href=""><i class="fas fa-shopping-cart"></i>  Thêm vào giỏ hàng</a></button>

                </div>
                <div class="selling-product__container-item">
                    <img src="./assets/selling/APHTK236-7-400x500.jpg" alt="">
                    <div class="desc__selling-item">
                        <div class="desc__selling-item-title">Ao phong</div>
                        <div class="desc__selling-item-price">500.000</div>
                    </div>
                    <button><a href=""><i class="fas fa-shopping-cart"></i>  Thêm vào giỏ hàng</a></button>

                </div>
                <div class="selling-product__container-item">
                    <img src="./assets/selling/APHTK218-1-400x500.jpg" alt="">
                    <div class="desc__selling-item">
                        <div class="desc__selling-item-title">Ao phong</div>
                        <div class="desc__selling-item-price">500.000</div>
                    </div>
                    <button><a href=""><i class="fas fa-shopping-cart"></i>  Thêm vào giỏ hàng</a></button>

                </div>
                <div class="selling-product__container-item">
                    <img src="./assets/selling/APHTK218-1-400x500.jpg" alt="">
                    <div class="desc__selling-item">
                        <div class="desc__selling-item-title">Ao phong</div>
                        <div class="desc__selling-item-price">500.000</div>
                    </div>
                    <button><a href=""><i class="fas fa-shopping-cart"></i>  Thêm vào giỏ hàng</a></button>

                </div>
                <div class="selling-product__container-item">
                    <img src="./assets/selling/POTTK217-7-1-400x500.jpg" alt="">
                    <div class="desc__selling-item">
                        <div class="desc__selling-item-title">Ao phong</div>
                        <div class="desc__selling-item-price">500.000</div>
                    </div>
                    <button><a href=""><i class="fas fa-shopping-cart"></i>  Thêm vào giỏ hàng</a></button>

                </div>
                <div class="selling-product__container-item">
                    <img src="./assets/selling/APHTK218-1-400x500.jpg" alt="">
                    <div class="desc__selling-item">
                        <div class="desc__selling-item-title">Ao phong</div>
                        <div class="desc__selling-item-price">500.000</div>
                    </div>
                    <button><a href=""><i class="fas fa-shopping-cart"></i>  Thêm vào giỏ hàng</a></button>


                </div>
                <div class="selling-product__container-item">
                    <img src="./assets/selling/QSKTK203-4-400x500.jpg" alt="">
                    <div class="desc__selling-item">
                        <div class="desc__selling-item-title">Ao phong</div>
                        <div class="desc__selling-item-price">500.000</div>
                    </div>
                    <button><a href=""><i class="fas fa-shopping-cart"></i>  Thêm vào giỏ hàng</a></button>

                </div>

            </div>
        </div>
        <!-- end selling product -->
    </div>
    <div class="footer">
        <div class="contact">
            <div class='contact__title'>CONTACT DOOSHOP</div>
            <div class="contach__icon">
            </div>

            <ul class="contact__somefor">
                <li><i class="fas fa-map-marker-alt"></i> 160 Tôn Đức Thắng, Quận Đống Đa, Hà Nội</li>
                <li><i class="fas fa-phone-square"></i> 0923939293</li>
                <li><i class="fas fa-globe"></i><a href="" style="text-decoration: none;">  dooshop.com</a></li>
                <li><i class="fas fa-envelope-square"></i> dooshop@gmail.com</li>
            </ul>
        </div>
        <div class="list-address">
            <h2 class="list-item__title">HỆ THỐNG CỦA HÀNG</h2>
            <ul class="list_address-item">
                <li>242 Thái Hà, Q.Đống Đa, HN</li>
                <li>20 Dương Quảng Hàm, Q.Cầu Giấy, HN</li>
                <li>11 Dương Quảng Hàm, Q.Cầu Giấy, HN</li>
                <li>63 Đại Cổ Việt, Q.Hai Bà Trưng, HN</li>
                <li>27 Chùa Bộc, Q.Đống Đa, HN</li>
            </ul>
        </div>
        <div class="policy">
            <div class="policy__title">CHÍNH SÁCH VÀ QUY ĐỊNH CHUNG</div>
            <ul class="policy__list">
                <li>Hướng dẫn mua hàng</li>
                <li>Hình thức thanh toán</li>
                <li>Quy định về bảo mật thông tin</li>
                <li>Chính sách bảo hành</li>
                <li>Chính sách đổi trả hàng</li>
                <li>Chính sách vận chuyển</li>
                <li>Giới thiệu</li>
            </ul>
        </div>
    </div>
</body>
<script src="./home.js"></script>

</html>